.section-blog {
  padding-top: 250px;
  padding-bottom: 200px;
}

.blog {
  .blog__intro {
    display: flex;
    justify-content: space-between;

    &__description {
      h2 {
        margin-bottom: 16px;
      }

      p {
        max-width: 488px;
      }
    }

    &__cta {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .blog__articles {
    margin-top: 80px;
    h5 {
      margin-bottom: 32px;
    }

    &__list {
      display: flex;
      justify-content: space-between;

      .blog__article {
        width: 361px;
        max-width: 30%;

        p {
          margin: 20px 0;
        }

        button {
          color: $orange;
          svg {
            path {
              fill: $orange;
            }
          }
        }
      }
    }
  }
}
