.section-blog {
  padding-top: 250px;
  padding-bottom: 200px;
}

.blog {
  .blog__intro {
    display: flex;
    justify-content: space-between;

    &__description {
      h2 {
        margin-bottom: 16px;
      }

      p {
        max-width: 488px;
      }
    }

    &__cta {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .blog__articles {
    margin-top: 80px;
    h5 {
      margin-bottom: 32px;
    }

    &__list {
      display: flex;
      justify-content: space-between;

      .blog__article {
        width: 361px;
        max-width: 30%;

        p {
          margin: 20px 0;
        }

        button {
          color: $orange;
          svg {
            path {
              fill: $orange;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .section-blog {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .blog {
    .blog__intro {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .blog__intro__description {
        text-align: center;
        margin-bottom: 50px;
      }
    }

    .blog__articles {
      text-align: center;
      justify-content: center;
      align-items: center;

      .blog__articles__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .blog__article {
          max-width: 80%;
          padding: 25px 0;
        }

        .blog__article:not(:last-of-type) {
          border-bottom: 1px solid rgba($dark-blue, 0.3);
        }
      }
    }
  }
}
