.hero-section {
  margin-top: 200px;
  box-shadow: inset 0 -178px 0 0 $light-grey;
}

.hero {
  display: flex;
  justify-content: space-between;

  &__content {
    z-index: 3;
    margin-top: 100px;

    h2 {
      max-width: 470px;
      margin: 15px 0;
    }

    p {
      max-width: 427px;
      margin-bottom: 38px;
    }
  }

  &__picture {
    max-width: 50%;
    .hero__img__container {
      // so it resizes when picture max width
      max-width: 100%;
      width: 593px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2),
        -50px 100px 0 0 $light-grey;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 880px) {
  .hero-section {
    box-shadow: none;
  }

  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      text-align: center;
      margin-bottom: 56px;
    }
    &__picture {
      .hero__img__container {
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
