.button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 40px;

  position: relative;
  height: 40px;
  background: $orange;
  color: $white;
  border: 0;
}

.button-icon {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 24px;

  position: relative;
  height: 40px;
  background: $orange;
  color: $white;
  border: 0;
  font-weight: 700;

  img {
    margin-left: 16px;
  }
}

.button-icon-secondary {
  cursor: pointer;
  color: $orange;
  background: transparent;
  border: 0;
  font-size: 1rem;
  svg {
    margin-left: 8px;
    path {
      fill: $orange;
    }
  }
}

.button-icon-ternary {
  cursor: pointer;
  color: $white;
  border: 0;
  background: transparent;
  font-size: 1rem;
  svg {
    margin-left: 8px;
    path {
      fill: $white;
    }
  }
}
