.button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 40px;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  height: 40px;
  background: $orange;
  color: $white;
  border: 0;

  &:hover {
    background: $dark-orange;
  }
}

.button-icon {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 24px;
  position: relative;
  height: 40px;
  background: $orange;
  color: $white;
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.15s linear;

  img {
    margin-left: 16px;
  }

  svg {
    margin-left: 16px;
    path {
      fill: $white;
    }
  }

  &:hover {
    background: $dark-orange;
    transition: all 0.15s linear;
  }
}

.button-icon-secondary {
  cursor: pointer;
  color: $orange;
  background: transparent;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.15s linear;

  svg {
    margin-left: 8px;
    path {
      fill: $orange;
    }
  }

  &:hover {
    transition: all 0.15s linear;
    color: $dark-orange;
    svg {
      path {
        fill: $dark-orange;
      }
    }
  }
}

.button-icon-ternary {
  cursor: pointer;
  color: $white;
  border: 0;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.15s linear;

  svg {
    margin-left: 8px;
    path {
      fill: $white;
    }
  }

  &:hover {
    transition: all 0.15s linear;
    color: $light-grey;
    svg {
      path {
        fill: $light-grey;
      }
    }
  }
}
